@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

/*CSS custom properties*/
/*Some global properties*/

:root {

    /*Colors Primary and Secondary*/
    --primary-cyan:hsl(167, 36%, 54%);
    --primary-dark-blue:hsl(205, 41%, 21%);
    --primary-grayish-blue:hsl(245, 10%, 22%);
    --secondary-very-light-grey:hsl(0, 0%, 98%);
    --secondary-light-grey:hsl(240, 2%, 92%);
    --secondary-bright-red:hsl(0, 90%, 57%);

    /*fonts to use*/
    --headings-font: 'Ibarra Real Nova', serif;
    --body-font:'Public Sans', sans-serif;

}

body {
    font-family: var(--body-font);
}

h1, h2, h3 {
    font-family: var(--headings-font);
    font-weight: 700;
}

ul, li {
    list-style: none;
    text-transform: uppercase;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
    margin-left: auto;
}


.close-btn {
    background-image: url('./images/icons/close.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-position: center;
    background-size: 100%;
}

.line {
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    align-self: center;
    width: 50%;
    max-width: 700px;
}

.link-clk {
    color: var(--primary-cyan);
}

.contact-btn-home { /*0 0 auto-- flex basis is auto, flex-grow:0 and flex-shrink:0*/
    flex: none; 
}

/*Home-page*/

.span-1-container-home > img {
    width: 100%;
}   


.f-c-m {
    display: flex;
    margin-top: 1.5em;
}

.nav-content {
    min-width: 300px;
    margin-left: auto;
}

.nav-content ul {
    display: flex;
    justify-content: space-between;
}

.nav-content li  {
    display: inline;
}

.nav-content a {
    color: var(--primary-grayish-blue);
    text-decoration: none;
    font-size: .75em;
}


.f-home {
    background-color: var(--primary-grayish-blue);
}

.f-h-nav {
    display:flex;
    justify-content: space-between;
    padding: 1em;
}

.f-h-nav div {
    max-width: 150px;
    flex-grow: 1;
    display: flex;
}

.f-h-nav div > * {
    margin-left: auto;
}


.f-h-ul {
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin-right: auto;
}

.f-h-ul li {
    display: inline;
}

.f-h-ul a {
    color: #fff;
    text-decoration: none;
}


#about_me {
    background-color: var(--primary-dark-blue);
    color: #fff;
}


.p-h-info {
    color: var(--primary-grayish-blue);
    line-height: 2.083em;
    opacity: .8;
}


.btn {
    text-transform: uppercase;
    border-radius: 0%;
    font-size: .75em;
    padding: .75em 1.75em;
}


.f-h-ul a {
    font-size: .75em;
}

.h-a-info, .h-c-info {
    display: flex;
}

.h-a-info {
    padding-top: 6em;
}

.h-a-s-info-child { 
    padding-left: 10.05em;
    padding-right: 8em; 
    align-self: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0,.1);
}

.h-s-h2-child {
    padding-bottom: .5em;
}

.h-c-info {
    justify-content: space-between;
    padding-bottom: 8em;
    padding-top: 4em;
}


.h-c-h2-child {
    max-width: 290px;
}

.container-home-div1 {
    position: relative;
}

.container-home-div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    max-width: 442px;
    letter-spacing: -0.45px;
    padding-top: 5em;
    min-height: 353px;
}


/*home page-media*/

@media (max-width:768px) {

    .h-a-info, .h-c-info, .f-h-nav, .f-h-ul {
        flex-direction: column;
    }

    .h-a-info {
        padding-top: 2em;
    }

    .h-a-s-info-child {
        padding: 1em;
    }

    .h-c-h2-child {
        align-self: center;
        text-align: center;
    }

    .container-home-div2 {
        position: static;
        padding-top: 1em;
        justify-content: flex-start;
        min-height: max-content;
    }

    .f-h-nav, .f-h-ul {
        align-items: center;
    }


    .f-h-ul {
        margin-right: 0;
        padding-left: 0;
    }

    .h-img-1 > img {
        width: 100%;
    }

    .navbar-nav {
        background-color: var(--primary-grayish-blue);
    }

    .navbar-nav  a {
        padding-top: 2em;
        padding-bottom: 1em;
    }
    
    #navhelp .nav-link {
        color: #fff;
    }
    
    .navbar-toggler:focus {
        box-shadow: none;
    }

}


/*Common for all navbars*/

@media(max-width:340px) {
    
    .nav-content {
        min-width: 0;
    }
}


/*Portfolio-page*/

.portfolio-page-flex {
    display: flex;
    padding-bottom: 5em;
}

.p-order-diff {
    order: -1;
}

.p-page-chg {
    padding-top: 1em;
    padding-bottom: 1em;
}


/*Portfolio page-media queries*/

@media (orientation:portrait) {

    .portfolio-page-flex {
        flex-direction: column;
    }

    .p-order-diff {
        order: 1;
    }

    .p-page-chg {
        padding: 2em;
    }

}





/*Contact Page*/

.contact-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.frm-display {
    display: flex;
    flex-direction: column;
    flex-grow: 1;   
}

.c-grid-display {
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 43px));
}

.contact-pg-btn-form {
    color: #fff;
    background-color: var(--primary-dark-blue);
}

.form-label {
    font-weight: 700;
    font-size: .8em;
    line-height: 1.875em;
}

.form-control {
    line-height: 2.275em;
    font-size: .825em;
    background-color: rgba(151, 151, 151, .2);
}

/*Contact page media query*/

@media(orientation:portrait) {

    .contact-display {
        grid-template-columns: 1fr;
    }

}




/*Manage project-01, bookmark-01, insure-01, fylo-01 (combined)*/

.manage-pro-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    margin-top: 4em;
}

.prev-arrow, .next-arrow {
    display: grid;
    padding: 1em;
}

.next-arrow {
    grid-template-columns: repeat(2, minmax(50px, 100px));
}

.prev-arrow {
    grid-template-columns: 90px 150px;
}

.prev-project {
    grid-column: 2/3;
}

.prev-project, .next-project {
    opacity:.8
}

.chg-grid-order {
    order: 2;
}

.next-arrow, .follow-up-justify {
    justify-self: end;
}

.bkmk-chk {
    align-self: center;
}

.follow-up-justify, .prev-arrow {
    align-self: end;
}

.color-size-manage-01 {
    color: var(--primary-cyan);
    font-weight: 700;
}

.manage-01-h2-common {
    font-weight: 400;
}

.grid1-section-child1 {
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    gap: 2em;
}

.web-visit {
    justify-self: start;
}

.mentor-underline-m01 {
    text-decoration: 1px solid underline;
}

.display-center-vertically {
    grid-row: 1/3;
    align-self: center;
}

.similar-class-exec > img {
    width: 100%;
}


/*Manage project-01, bookmark-01, insure-01, fylo-01 - media queries (combined) */

@media (orientation:portrait) {

    .media-controls {
        grid-template-columns: 1fr;
    }

    .next-arrow {
        justify-self: start;
    }

    .manage-pro-grid1 {
        display: block;
    }

}


@media (max-width:1100px), (orientation:portrait) { /*or condition*/

    .fig-1 img, .fig-2 img {
        width: 100%;
    }

}


@media (max-width:768px) {

    .f-h-ul li, .proj-section-1 {
        padding-top: 1em;
    }

    .footer-div-icons {
        min-width: 100px;
    }

}


@media (min-width:576px) and (max-width:768px) {

    .container {
        max-width: none;
    }

}


/*Common changes to all the pages*/

@media (min-width:768px) and (max-width:1280px) {

    #navhelp {
        background-color: #fff;
    }

    #navhelp .nav-link {
        color: rgb(33, 37, 41);
    }

    .f-h-nav, .f-h-ul {
        flex-direction: row;
    }

    .f-h-ul {
        margin-bottom: 0;
        margin-right: auto;
    }

    .h-a-s-info-child {
        padding-left: 2em;
        padding-right: 1em;
    }

    .container-home-div2 {
        padding-top: 1em;
        min-height: 0;
    }

}


/*Manage project-01, bookmark-01, insure-01, fylo-01 - media queries (combined)--section part */

@media (orientation:landscape) and (max-width:1100px) {

    .grid1-section-child1  {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .media-controls {
        grid-template-columns: 1fr;
    }

    .color-size-manage-01, .web-visit {
        grid-column: 1/2;
    }

    .grid1-section-child1 {
        gap: 1em;
    } 

    .grid-chg {
        grid-row: 1/3;
        grid-column: 2/3;
    }

}



